<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Pharmacy 2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>Pharmacy.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>PharmacyC++.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>PharmacyConsole.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
		<key>PharmacyController.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>PharmacyDomain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>PharmacyLib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>PharmacyRepository.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>PharmacyUtilities.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>Repository.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>913958E51706256F003334F7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9191D01917379E0800B673BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91C62E36172C102700B0B6AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91C62E47172C106E00B0B6AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91C62E9A172C15C400B0B6AB</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D98C4D1737B67700A160B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D98C591737B69900A160B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D98C651737B6BA00A160B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D98C6F1737B6D400A160B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91D98C7C1737B6FE00A160B2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91E58987172BC7AB000EA371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91E58994172BC826000EA371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>91E589A1172BCAC4000EA371</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
