<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">
    <servlet>
        <servlet-name>Servlet</servlet-name>
        <servlet-class>Controller.GetUsersServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>Controller.LoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditProfileServlet</servlet-name>
        <servlet-class>Controller.EditProfileServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RegisterServler</servlet-name>
        <servlet-class>Controller.RegisterServlet</servlet-class>
    </servlet>

    <servlet-mapping>
        <servlet-name>Servlet</servlet-name>
        <url-pattern>/GetUsers.do</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/Login.do</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>EditProfileServlet</servlet-name>
        <url-pattern>/EditProfile.do</url-pattern>
    </servlet-mapping>
    
    <servlet-mapping>
        <servlet-name>RegisterServler</servlet-name>
        <url-pattern>/Register.do</url-pattern>
    </servlet-mapping>

    <context-param>
        <param-name>file-upload</param-name>
        <param-value>/Users/mihaicostea/Developer/info-labs/An 3/Sem 1/Web/Lab 10/web/pics/</param-value>
    </context-param>
</web-app>